<% include partials/head -%>
<%- include partials/preloader %>
<%- include partials/header %>
<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Peliflix la mejor página de películas</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Inicio</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="topbar-filter fw">
					<p>Encontrada <span id="total-movies"><%= total %> película(s) </span> en total</p>
				</div>
				<div class="flex-wrap-movielist mv-grid-fw" id="content">
					<% for(movie of movies) { %>
					<div class="movie-item-style-2 movie-item-style-1">
						<img src="/static/img/posters/<%= movie.fotoPoster %>" alt="Poster de <%= movie.nombrePelicula %>">
						<div class="hvr-inner">
							<a  href="/peliculas/<%= movie.idPelicula %>"> Leer más <i class="ion-android-arrow-dropright"></i> </a>
						</div>
						<div class="mv-item-infor">
							<h6><a href="#"><%= movie.nombrePelicula %></a></h6>
						</div>
					</div>	
					<% } %>				
				</div>		
			</div>
		</div>
	</div>
</div>

<%- include partials/footer %>
